.productCard {
    width: 348px;
    height: 502px;
    border-radius: 6px;
    border: 0.4px solid #DBDBDB;
    background: #FFF;
}

.badge {
    z-index: 2;
    width: 56px;
    height: 65px;
    background: url("../../img/icons/badge.svg"), #4E966E;
    margin-left: 5px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.badgeText {
    color: var(--Theme-White, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.cardBody {
    z-index: 1;
}

.cardHeader {
    display: flex;
    justify-content: end;
    gap: 15px;
    margin-top: 5px;
    margin-right: 10px;
}

.icons {
    cursor: pointer;
}

.imageWrapper {
    width: 302px;
    height: 216px;
    margin: 38px 66px 0px 66px;
}

.cardImage {
    width: 216px;
    height: 216px;
}

.details {
    margin-left: 20px;
    margin-right: 91px;
    padding-top: 41px;
}

.cardTitle {
    color: #41404A;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 137.966%;
    padding-bottom: 16px;
}

.cardMrp {
    color: #707074;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cardPriceSection {
    display: flex;
    gap: 20px;
}

.cardPrice {
    color: #100F1A;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cardPriceOffer {
    color: #4E966E;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cardBtn {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: solid;
    border-image: linear-gradient(to right, #67C2EE, #F0AEFF);
    border-image-slice: 1;
    border-width: 2px;
    height: 44px;
    background: #FFF;
    margin: 20px;
}

.cardBtnText {
    color: #100F1A;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-inline: 5px;
}